
<!--
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Units In Stock</th>
      <th scope="col">Created On</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products">
      <td align="center">
        <img src="{{item.imageUrl}}" alt="" height="50">
      </td>
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.unitPrice | currency:'USD'}}
      </td>
      <td>
        {{item.unitsInStock}}
      </td>
      <td>
        {{item.dateCreated | date}}
      </td>
    </tr>
  </tbody>
</table> -->

<div class="main-content">
  <div class="section-content seciton-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- Loop here for prooducts-->
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">
            <img src="{{tempProduct.imageUrl}}" class="img-responsive" alt="" srcset="">
            <h1>{{tempProduct.name}}</h1>
            <div class="price">{{tempProduct.unitPrice | currency : 'USD'}}</div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
